.dashboard-container {
    margin-top: 150px !important;
}

.dashboard-data {
    margin-top: 30px !important;
    margin-bottom: 150px;
}

.dashboard-header {
    margin-top: 30px;
    color: #4e4e4d;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 40px;
    font-style: oblique;
}

.card-button {
    text-align: center !important;
    margin-top: 22px;
}

.card-button:hover {
    background-color:#24ac94 !important;
    border-color: #24ac94 !important;
}